@model MVCHelloWorld.Models.Person
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>What's Your Name</h1>
    
    @using (var form = Html.BeginForm("SayHello", "Home"))
    {
        <p>FirstName: @Html.TextBoxFor(x => x.FirstName)</p>
        <br />
        <p>LastName: @Html.TextBoxFor(x => x.LastName)</p>
        <input type="submit" value="Submit" name="Submit2" />
    }
</div>